.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-top: 40px;
    width: 30%;
    min-width: 200px;
    justify-content: center;
}

.nav-link{
    color: #495057;

}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #212529;
    color: deepskyblue;
    border-color: #dee2e6 #dee2e6 #fff;
}