[class^="dropdown-menu"] .dropdown-item.active, [class^="dropdown-menu"] .dropdown-item:active {
    background-color: #212529;
    
}
.input-group{
    width: 50%;
    min-width: 200px;
    margin: auto;
}